body {
	background-color: #FFFFEA;
}

#container {
	background-color: #FFFFEA;
}

nav {
	background-color: #00CECB;
	padding-top: 2px;
}

#navbar {
	padding-top: 2px;
}

.navbar-brand {
	padding-top: 2px;
	margin-top: 2px;
}

#header-logo {
	padding-top: 2px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #A398CF;
   color: white;
   text-align: left;
}

.footer-logo {
	float: left;
}

#ftr-cpyrt {
	font-size: 13px;
}

#api-link-row {
	font-size: 10px;
}

